<form>
  <div class="form-group">
    <input type="text" placeholder="Ingrese el título" class="form-control" #titulo>
  </div>
  <div class="form-group">
    <textarea cols="30" rows="10" placeholder="Ingrese la sinopsis" class="form-control" #sinopsis></textarea>
  </div>
  <div class="form-group">
    <input type="number" class="form-control" placeholder="Ingrese el año" #anno>
  </div>
  <div class="form-group">
    <input type="text" placeholder="Ingrese el género" class="form-control" #genero>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-success" (click)="agregar(titulo.value, sinopsis.value, anno.value, genero.value)">Agregar Película</button>
  </div>
</form>